.uploadBody{
  
  height: 100vh;
  margin: 10px;
}

.uploadForm{
  display: flex;
  width:100vw;
}

.fieldInput{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right:500px;
}

.imageField{
  margin-left:200px;
}

.image{
  
  justify-self: flex-start;
  min-width:200px;
  width: fit-content;
  min-height:200px;
  height: fit-content;
  border: 1px solid black;
}

.pic{
  max-width: 300px;
  max-height:300px;
}